<div id="<%= dom_id quiz %>">
  <p>
    <strong>Question:</strong>
    <%= quiz.question %>
  </p>

  <p>
    <strong>Selection1:</strong>
    <%= quiz.selection1 %>
  </p>

  <p>
    <strong>Selection2:</strong>
    <%= quiz.selection2 %>
  </p>

  <p>
    <strong>Selection3:</strong>
    <%= quiz.selection3 %>
  </p>

  <p>
    <strong>Selection4:</strong>
    <%= quiz.selection4 %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= quiz.answer %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= quiz.level %>
  </p>

</div>
